.p_main_sec {
  padding: 30px 30px 50px 30px;
}

.p_main_sec .heading_p {
  color: #717070;
  padding-bottom: 20px;
  text-align: center;
}

.menu-head {
  margin-top: 7em;
}

.p_main_sec .card {
  margin: 20px 0;
  border: 0px;
}

.pro_sale {
  background: #f8c73d;
  color: black;
  position: absolute;
  top: -13px;
  left: -9px;
  font-size: 18px;
  text-transform: uppercase;
  width: fit-content;
  padding: 3px 11px;
  border-radius: 3px;
}

.p_main_sec .card .card-body {
  height: 230px;
}

.p_main_sec .card p {
  margin-bottom: 12px;
}

.p_main_sec .card .card-footer {
  background: transparent;
  padding: 0;
  border: 0;
}

.c_btn_left {
  width: 50%;
  float: left;
  background: #3f80bf;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0;
  padding: 10px 0;
  font-size: 12px;
  text-decoration: none;
  border: 2px solid #3f80bf;
}

.c_btn_left:hover {
  color: #3f80bf;
  background: transparent;
}

.c_btn_right {
  width: 50%;
  float: left;
  background: #32679a;
  color: #fff;
  text-align: center;
  border-radius: 0;
  padding: 10px 0;
  font-size: 12px;
  text-decoration: none;
  border: 2px solid #32679a;
}

.c_btn_right:hover {
  color: #32679a;
  background: transparent;
}

/* card system and flexbox layout*/
.c_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-right: 40px;
}
.card {
  width: 450px;
  margin-bottom: 40px;
  position: relative;
}
/* .saleTag {
  position: absolute;
  width: 60px;
  height: 28px;
  background-color: gold;
  text-align: center;
  border-radius: 30px;
  top: -15px;
  left: -15px;
} */

.sale {
  position: absolute;

  background: orange;
  color: white;
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;

  line-height: 2.5rem;

  transform: rotate(-20deg);
  animation: beat 1s ease infinite alternate;
}
.sale:before,
.sale:after {
  content: '';
  position: absolute;
  background: inherit;
  height: inherit;
  width: inherit;
  top: 0;
  left: 0;
  z-index: -1;
  transform: rotate(30deg);
}
.sale:after {
  transform: rotate(60deg);
}
@keyframes beat {
  from {
    transform: rotate(-20deg) scale(1);
  }
  to {
    transform: rotate(-20deg) scale(1.1);
  }
}

.price {
  font-size: 18px;
  font-weight: 500;
}
.price span {
  text-decoration: line-through;
}
